body {
    background-image: linear-gradient(to right bottom, #161d6f, #0a043c, #0f1123, #0f3057, #14274e);
}

.slide {
    height: 140px;
    overflow: auto;
}

.ukr{
    height:111px;
    width:10px;
}

.gbr{
    height: 10px;
    width: 10px;
}

.trans{
   opacity: 0.6;
   margin: 20px;
   padding: 10px;
   border: 1px solid white;
   background-color: black;
   filter: alpha(opacity=60);
}

div.trans h1{
    font-family: 'Open Sans', sans-serif;
    color: white !important;
    font-weight: bold;
}

.trans p{
    font-family: 'Open Sans', sans-serif;
    margin: 2%;
    color: white;
    font-weight: bold;
}