.down {
    margin-bottom: 2%;
}


@media (max-width: 992px) {
    .ukuran {
        font-size: 20px;
        padding: 20px 25px;
    }
}

@media (min-width: 1200px) {
    .ukuran {
      font-size: 20px;
      padding: 25px 30px;
    }
  }